html {
    font-family: $base-font-family;
    font-size: $font-size-base;
    color: $color-dark;
}
body {
    font-family: $base-font-family;
}

hr {
    display: block;
    margin: $content-gutter 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid $color-black;
}

%h1 {
    margin: 0 0 .75rem;
    font-size: 1.653rem;
    line-height: 1.25;
    font-weight: 600;

    @media #{$screen-md-up} {
        font-size: 3rem;
        line-height: 1.0526;

        /* 40/38 */
    }
}

%h2 {
    margin: 0 0 .75rem;
    font-size: 1.36rem;
    font-weight: 500;
    color: $color-dark;
    @media #{$screen-md-up} {
        font-size: 1.453rem;
    }
}

%h3 {
    margin: 0.5rem 0 0.75rem;
    font-size: 1.2rem;
    font-weight: 500;

    @media #{$screen-md-up} {
        font-size: 1.36rem;
    }
}

%h4 {
    margin: 0 0 0;
    font-size: 1rem;
    font-weight: 500;

    @media #{$screen-md-up} {
        font-size: 1.2rem;
    }
}

%h5 {
    margin: 0 0 0;
    font-size: 1rem;
    font-weight: 500;
}

%h6 {
    margin: 0 0 0;
    text-transform: uppercase;
    font-size: .8rem;
}

%p {
    font-weight: 400;
    margin: .5rem 0 1.5rem;
    line-height: 1.5;
    font-size: 1rem;
}

%--light {
    font-weight: 300;
}

%--regular {
    font-weight: 400;
}

%--medium {
    font-weight: 500;
}

%--bold {
    font-weight: 700;
}

h1 {
    @extend %h1;
}

h2 {
    @extend %h2;
}

h3 {
    @extend %h3;
}

h4 {
    @extend %h4;
}

h5 {
    @extend %h5;
}

h6 {
    @extend %h6;
}

p {
    @extend %p;
}

.site-title, .front-page-title {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.03em;
    
    @media screen and (min-width: 800px) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: 1000px) {
        font-size: 3.55rem;
    }
}

.front-page-title {
  font-size: 1.9rem;
  margin-top: $spacing-large;
  margin-bottom: $spacing-medium;

    @media screen and (min-width: 800px) {
      font-size: 2.2rem;
    }
    @media screen and (min-width: 1000px) {
      font-size: 2.9rem;
      margin-top: $spacing*12;
      margin-bottom: $spacing-medium;
    }
}

.entry-content figure {
    margin: 0;
}

.entry-content blockquote p {
    margin-bottom: 16px;
}

.post blockquote, .page blockquote {
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  z-index: 3;


  p {
    font-size: $h4;
    text-transform: none;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-style: normal;
    line-height: 1.4;
    @media #{$screen-md-up} {
        font-size: $h2;
    }
  }

  // &::before {
  //   position: absolute;
  //   top: 0;
  //   left: 14px;
  //   width: 200px;
  //   content: '';
  //   height: 200px;
  //   display: block;
  //   background-image: url(../images/icons/cite.svg);
  //   background-repeat: no-repeat;
  //   background-size: 80px;
  //   z-index: -3;
  //       @media #{$screen-md-up} {
  //           background-size: 110px;
  //           left: 20px;
  //       }
  //   }
}