.site-content {
	background-color: $color-gray-300;
}

.single-featured-image-header {
	display: none;
}

.blog {
	.post-page {
		width: 100%;
    	margin: auto;
		@media screen and (min-width: 900px) {
			width: 82%;
	    	margin: auto;
	    }
	}
}
.post-page {
		width: 100%;
    	margin: auto;
	
	
	.post {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 550px) {
			flex-direction: row;
    	}
	}

	.post-content {
		width: 100%;
		@media screen and (min-width: 550px) {
			width: 60%;
			padding-left: 20px;
    	}

		.entry-header {
			padding-bottom: 0;
		}
		.entry-title {
			font-weight: 600;
		}
		.entry-meta {
			font-weight: 400;
			padding-bottom: 0;
	        font-size: 0.8rem;
	        text-transform: none;
	        letter-spacing: 0.03em;
		}
	}
}