.site-footer {
    background-color: #494949;
    color: white;

    h2 {
        color: white;
    }

    a {
        color: white !important;
        text-decoration: underline !important;
        box-shadow: none !important;
    }
    .site-info {
        display: none;
    }
    
    .widget-column.footer-widget-1, .widget-column.footer-widget-2 {
        float: left;
        width: 100%;
    }

    .widget-title {
        margin: .5rem 0 .35rem;
        text-transform: none;
        font-weight: 500;
        font-size: 1.2rem;
        letter-spacing: 0.03em;
    }
 
    .a2a_svg {
        background-color: transparent;
    }
    
    @media screen and (min-width: 38em) {
        .widget-column.footer-widget-1 {
            float: left;
            width: 58%;
        }
    
        .widget-column.footer-widget-2 {
            float: right;
            width: 36%;
        }
    }
}