
.single-post, .page {
    .entry-title,
    .page .entry-title {
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.2;
        @media screen and (min-width: 800px) {
	      font-size: 2.5rem;
	    }
	    @media screen and (min-width: 1000px) {
	      font-size: 2.7rem;
	    }
	    @media screen and (min-width: 1400px) {
	      font-size: 3rem;
	    }
    }

    .entry-meta {
        display: flex;
        flex-direction: column-reverse;
        letter-spacing: 0.03em;
    }

    .byline {
        color: $color-dark;
        font-size: 1rem;
        font-weight: 500;
        text-transform: capitalize;
        a {
            color: $color-dark;
        }
    }

    .posted-on {
        font-weight: 400;
        padding-top: $spacing;
        font-size: 0.8rem;
        text-transform: none;
    }

    .site-content-contain {
        background-color: $color-gray-300;
    }

    ul {
        margin-left: $spacing*3;
    }
    li {
        ul {
            margin-left: $spacing*4;
        }
    }


	.addtoany_content {
	    margin-bottom: 0;
	   	margin-top: 70px;


	    .addtoany_share_save_container {
	        display: flex;
	        margin-bottom: 0;
	    }
	    .addtoany_header {
	    	position: relative;
	        margin-right: 2px;
	        font-size: .8rem;
		    display: inline;
		    padding-right: 0;
		    margin-left: 24px;

			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
				margin-left: 26px;
			}
	    }
	    .addtoany_header:before {
			position: absolute;
	        content: "";
	        background-image: url(../images/icons/share.svg);
	        background-repeat: no-repeat;
	        width: 20px;
	        height: 20px;
	        top: 0;
	        transform: translateX(-124%);
	        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
				transform: translateX(-254%);
			}
		}
    }
}

.entry-footer {
	border-bottom: none;
	border-top: none;
	margin-top: 0;
    padding: 0.7em 0;

	.cat-links, .tags-links {
		text-transform: none;
		letter-spacing: 0.03em;
		font-weight: 400;
		padding-left: 0.2em;
		font-size: .8rem;

		.cat-links-title, .tags-links-title {
			font-size: .8rem;
			display: inline;
			padding-right: $spacing/2;
			margin-left: 24px;
		}

		a {
			box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 1);
		}

		.icon-folder, .icon-tag {
			color: $color-dark;
		}
	}
}


.post-navigation {
	.nav-subtitle {
		text-transform: none;
		letter-spacing: 0.03em;
		font-weight: 400;
		color: $color-dark;
		font-size: 1rem;
    	margin-bottom: 0.2em;
	}
	.nav-title {
		font-weight: 700;
	}
}


.comment-author .avatar {
	border-radius: 100%;
}

#comments {
	padding-top: 1em;
}

.comments-area {
	
	.comments-title {
		margin-bottom: 1.5em;
	}
	.comment-meta {
    	margin-bottom: 0.1em;
    }
	.comment-metadata a {
		text-transform: none;
		letter-spacing: 0.03em;
		font-weight: 400;
		font-size: .8rem;
	}
	label {
		font-weight: 500;
	}
	input[type=submit] {
		background-color: $color-green-300;
		font-weight: 500;
		&:hover {
			background-color: darken($color-green-300, 7);

		}
	}
}

.blog {
	p {
		margin-top: 8px;
		margin-bottom: 8px;
		a {
			font-weight: 700;
		}
	}
	.post-thumbnail-wrapper {
		max-width: 100%;
		@media screen and (min-width: 550px) {
			max-width: 40%;
		}
	}
	.post-thumbnail {
            // min-height: 154px;
            float: left;
            width: 100%;
            margin-bottom: .5rem;

            img { 
                object-fit: cover;
                height: 216px; 
                width: 100%;
                background-color: #444;
                @media screen and (min-width: 550px) {
                	height: 140px; 
				}
				@media screen and (min-width: 850px) {
                	height: 216px; 
				}
            }
        }

	.entry-title {
		margin-top: 0;
	}

	.entry-content .more-link {
		&:before {
			display: none;
		}
	}

	.cat-links, .tags-links {
		text-transform: none;
		letter-spacing: 0.03em;
		font-weight: 400;
		font-size: .8rem;

		.cat-links-title, .tags-links-title {
			font-size: .8rem;
			display: inline;
			padding-right: $spacing/2;
			padding-left: 0.9em;
		}
		p {
			margin: 0;
		}
		a {
			box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 1);
			&:hover {
				transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
			}
		}

		.icon-folder, .icon-tag {
			color: $color-dark;
		}
	}
}

.page {

	.site-content-contain .site-content .about-content {
		@media screen and (max-width: 750px) {
	    	width: 100%;
		}
	}

}