.site-blogs--header {
    h1 {
        font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
        text-transform: none;
        font-weight: 600;
        font-size: 2rem;
        letter-spacing: 0.03em;
        margin-top: 10px;
        margin-bottom: 30px;

        @media screen and (min-width: 800px) {
            font-size: 2.8rem;
        }

        @media screen and (min-width: 1000px) {
            font-size: 3.55rem;
        }
    }
}

.blogs-wrapper {
    display: flex;
    flex-wrap: wrap;

    .blog {
        flex: 1 1 350px;
        max-width: 100%;
        padding: 14px;
        display: flex;
        flex-direction: column;

        &--title {
            padding: 0;
            margin: 0.5rem 0 0.35rem;
        }
        // IE10+ HACK
        _:-ms-lang(x), .blog--image {
           height:150px;
           overflow:hidden;
        }

        &--image {
            // min-height: 154px;
            float: left;
            width: 100%;
            margin: 0 30px 12px 0;


            .object-fit_cover { 
                object-fit: cover;
                height: 164px; 
                width: 100%;
                background-color: #444;

            }
            // IE9 HACK
           :root .object-fit_cover {
                height:auto;
                width:100%;
           } 

            // IE10+ HACK
           _:-ms-lang(x), .object-fit_cover {
                height:auto;
                width:100%;
           } 
        }

        &--title-secondary {
            padding: 0;
            font-weight: 700;
            font-size: .8rem;
            text-transform: none;
            letter-spacing: .03em;
        }

        &--entry-meta {
            margin-bottom: 0.75rem;

            a {
                color: #767676;
                font-size: 0.75rem;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &--link-section:hover {
            .blog--title a {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: 38em) {
    .blogs-wrapper {
        .blog {
            max-width: 50%;
        }
    }
}
@media screen and (min-width: 58em) {
    .blogs-wrapper {
        .blog {
            max-width: 33%;
        }
    }
}
