.site-content-contain {
    .site-content {
                .navigation-area {
                    margin-left: 18%;
                    max-width: 320px;
                    padding-left: 3em;
                    padding-right: 3em;
                    @media screen and (max-width: 1600px) {
                        margin-left: 0;
                }
            }

        .about-content {
            width: 70%;
            margin: auto;
        }
                        
        .wrap{
            margin-top: $spacing-small;
            margin-bottom: $spacing-large;

            
            &.wrap-single {
                @media #{$screen-lg-up} {
                    .content-area {
                        width: 70%;
                        margin: auto;

                        
                    }                
                }
            }

            .navigation.pagination {
                width: 100%;

                .nav-links {
                    @media screen and (max-width: 500px) {
                        display: flex;
                        flex-direction: column;
                        a, span {
                            margin-top: 10px;
                        }
                    }

                    .page-numbers {
                        background-color: $color-gray-500;
                        color: $color-dark;
                        font-size: 1rem;
                        box-shadow: none;
                    }
                    .page-numbers:not(.current):hover {
                        background-color: darken($color-gray-500, 7);
                    }

                    & .current {
                        background-color: $color-green-300;
                        color: $color-light;
                    }
                    .prev, .next {
                        background-color: $color-green-300;
                        color: $color-light;
                        font-size: 1.6rem;
                        display: flex;
                        padding-top: 16px;
                        @media screen and (max-width: 500px) {
                            display: block;
                        }

                    }
                    .page-numbers.prev:hover {
                        background-color: darken($color-green-300, 7);
                    }
                    .page-numbers.next:hover {
                        background-color: darken($color-green-300, 7);
                    }

                    .prev svg {
                        margin-right: 9px;

                    }
                    .next svg {
                        margin-left: 9px;
                    }
                }
            }   
        }
    }
}
