footer.site-footer {
    .widget-area {
        .a2a_svg {
            background-color: transparent !important;

            svg path {
                fill: #fff !important;
            }
        }
    }
}