/*
    Fix for structual change in menu layout
 */
.js {
    .main-navigation.toggled-on {
        .wrap > div > ul {
            display: block;
        }
    }
}

.navigation-top .wrap {
        max-width: 1200px;
    }

.navigation-top {
    position: relative;
    z-index: 5;
    left: 0;
    right: 0;
    border-top: none;
    border-bottom: none;

    .main-navigation {
        a {
            font-weight: 500;
        }
        .current_page_item {
            a {
                text-decoration: underline;
            }
        }

        &--secondary {
            ul {
                background-color: rgba($color-black, 0.7);

                li {
                    border-color: #7d7d7d;
                }
            }

            a {
                color: $color-light;
                font-weight: 500;
            }

            .current_page_item {
                a {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (min-width: 48em) {
    .navigation-top {
        position: relative;
        background-color: transparent;

        .main-navigation {
            background-color: $color-light;
            .wrap {
                padding-top: 0;
                padding-bottom: 0;
            }

            &--secondary {
                background-color: rgba($color-black, 0.7);

                ul {
                    background-color: transparent;
                }
            }
        }
    }
}


.navigation-about {
    background-color: $color-light;

    &--container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        @media screen and (min-width: 800px) {
            flex-direction: column;
        }

        @media screen and (min-width: 600px) {
            flex-direction: row;
        }
    }

    &--home {
        margin: auto;
    }

    &--logo {
        padding: 0.6rem 0.5rem 0.1rem;
        margin-bottom: 0.3rem;
        max-width: 190px;

        @media screen and (min-width: 800px) {
            padding: 1rem;
            margin-bottom: 1rem;
            max-width: 240px;
        }
    }

    &--blog-title {
        text-align: center;
        font-family: "Roboto Slab", Helvetica, Arial, sans-serif;

        @media screen and (max-width: 800px) {
            margin: auto;
        }

        h1 {
            font-size: 1rem;
            margin: 10.9px 16px 4px;
            margin: auto;


            @media screen and (min-width: 450px) {
                font-size: 1.5rem;
                margin: unset;
            }
            @media screen and (min-width: 800px) {
                font-size: 1.8rem;
                margin: unset;
            }
        }
    }
}

@media screen and (min-width: 48em) {
    .navigation-about {
        &--container {
            flex-direction: row;
        }

        &--home {
            flex-basis: 25%;
            margin: initial;
        }

        &--logo {
            padding-top: 0;
            margin-bottom: 0;
        }

        &--blog-title {
            flex-basis: 50%;

        }
    }
}