@charset "UTF-8";

/**
 * ==== TABLE OF COLORS ===
 *
 * Yellow		: #F1C40F;
 * YellowDark	: #F7AB13;
 * Red			: #F2295E;
 * RedDark		: #CB234F;
 * Green		: #2BCDC1;
 * GreenDark	: #26B3A9;
 * Dark			: #222831;
 * GrayLight	: #F2F2F6;
 * GrayMedium	: #5A626F;
 * GrayDark		: #393E46;
 *
 */

/**
 * === Generics
 */
[class^="secupress-"],
[class*=" secupress-"] {
	box-sizing: border-box;
}
[class^="secupress-"] a,
[class*=" secupress-"] a {
	color: #26B3A9;
	font-weight: bold;
}
/* On text selection */
[class^="secupress-"] ::selection {
	background: #26B3A9;
	color: #FFF;
}
[class^="secupress-"] ::-moz-selection {
	background: #26B3A9;
	color: #FFF;
}

/* Animations */
[class^="secupress-"] a,
[class^="secupress-"] button,
[class^="secupress-"] input,
[class^="secupress-"] .icon,
[class^="secupress-"] .text {
	transition: all .275s;
	outline: none;
	box-shadow: none;
}

/**
 * SecuPress Icons
 * FontAwesome + Customs
 */
@font-face {
	font-family: 'secupress';
	src:url('../fonts/secupress.eot?5cthix');
	src:url('../fonts/secupress.eot?5cthix#iefix') format('embedded-opentype'),
		url('../fonts/secupress.ttf?5cthix') format('truetype'),
		url('../fonts/secupress.woff?5cthix') format('woff'),
		url('../fonts/secupress.svg?5cthix#secupress') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="secupress-icon-"], [class*=" secupress-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'secupress' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.secupress-icon-squared-cross:before {
	content: "\e914";
}
.secupress-icon-clock2:before {
  content: "\e925";
}
.secupress-icon-data-base:before {
  content: "\e926";
}
.secupress-icon-sheet:before {
  content: "\e927";
}
.secupress-icon-grade-down:before {
	content: "\e923";
}
.secupress-icon-grade-up:before {
	content: "\e924";
}
.secupress-icon-cross-o:before {
	content: "\e921";
}
.secupress-icon-exclamation-o:before {
	content: "\e91f";
}
.secupress-icon-clock-o-2:before {
	content: "\e920";
}
.secupress-icon-info-o:before {
	content: "\e922";
}
.secupress-icon-autofix:before {
	content: "\e91e";
}
.secupress-icon-manuals:before {
	content: "\e91d";
}
.secupress-icon-clock:before {
	content: "\e91a";
}
.secupress-icon-ip-trash:before {
	content: "\e91b";
}
.secupress-icon-user-trash:before {
	content: "\e91c";
}
.secupress-icon-bell:before {
	content: "\e915";
}
.secupress-icon-folder:before {
	content: "\e916";
}
.secupress-icon-mail2:before {
	content: "\e917";
}
.secupress-icon-smartphone:before {
	content: "\e918";
}
.secupress-icon-upcloud:before {
	content: "\e919";
}
.secupress-icon-antispam:before {
	content: "\e908";
}
.secupress-icon-backups:before {
	content: "\e909";
}
.secupress-icon-core:before {
	content: "\e90a";
}
.secupress-icon-file-system:before {
	content: "\e90b";
}
.secupress-icon-firewall:before {
	content: "\e90c";
}
.secupress-icon-information:before {
	content: "\e90d";
}
.secupress-icon-logs:before {
	content: "\e90e";
}
.secupress-icon-schedule:before {
	content: "\e90f";
}
.secupress-icon-sensitive-data:before {
	content: "\e910";
}
.secupress-icon-services:before {
	content: "\e911";
}
.secupress-icon-themes-plugins:before {
	content: "\e912";
}
.secupress-icon-user-login:before {
	content: "\e913";
}
.secupress-icon-secupress-simple:before {
	content: "\e907";
}
.secupress-icon-pad-check:before {
	content: "\e905";
}
.secupress-icon-pad-list:before {
	content: "\e906";
}
.secupress-icon-question-circle:before {
	content: "\e904";
}
.secupress-icon-radar:before {
	content: "\e900";
}
.secupress-icon-info:before {
	content: "\e901";
}
.secupress-icon-ask:before {
	content: "\e902";
}
.secupress-icon-secupress:before {
	content: "\e903";
}
.secupress-icon-star:before {
	content: "\f005";
}
.secupress-icon-star-empty:before {
	content: "\f006";
}
.secupress-icon-user:before {
	content: "\f007";
}
.secupress-icon-film:before {
	content: "\f008";
}
.secupress-icon-check:before {
	content: "\f00c";
}
.secupress-icon-cross:before {
	content: "\f00d";
}
.secupress-icon-download:before {
	content: "\f019";
}
.secupress-icon-refresh:before {
	content: "\f021";
}
.secupress-icon-lock:before {
	content: "\f023";
}
.secupress-icon-info-disk:before {
	content: "\f05a";
}
.secupress-icon-arrow-up:before {
	content: "\f062";
}
.secupress-icon-key:before {
	content: "\f084";
}
.secupress-icon-upload:before {
	content: "\f093";
}
.secupress-icon-mail:before {
	content: "\f0e0";
}
.secupress-icon-file-text:before {
	content: "\f0f6";
}
.secupress-icon-back:before {
	content: "\f112";
}
.secupress-icon-shield:before {
	content: "\f132";
}
.secupress-icon-calendar:before {
	content: "\f133";
}
.secupress-icon-file:before {
	content: "\f15b";
}
.secupress-icon-wordpress:before {
	content: "\f19a";
}
.secupress-icon-plugin:before {
	content: "\f1e6";
}
.secupress-icon-calendar-add:before {
	content: "\f271";
}
.secupress-icon-calendar-remove:before {
	content: "\f272";
}
.secupress-icon-heart:before {
	content: "\f004";
}
.secupress-icon-cog:before {
	content: "\f013";
}
.secupress-icon-gear:before {
	content: "\f013";
}
.secupress-icon-clock-o:before {
	content: "\f017";
}
.secupress-icon-times-circle:before {
	content: "\f057";
}
.secupress-icon-minus:before {
	content: "\f068";
}
.secupress-icon-cogs:before {
	content: "\f085";
}
.secupress-icon-gears:before {
	content: "\f085";
}
.secupress-icon-heart-o:before {
	content: "\f08a";
}
.secupress-icon-twitter:before {
	content: "\f099";
}
.secupress-icon-wrench:before {
	content: "\f0ad";
}
.secupress-icon-angle-double-left:before {
	content: "\f100";
}
.secupress-icon-angle-double-right:before {
	content: "\f101";
}
.secupress-icon-angle-left:before {
	content: "\f104";
}
.secupress-icon-angle-right:before {
	content: "\f105";
}
.secupress-icon-angle-up:before {
	content: "\f106";
}
.secupress-icon-angle-down:before {
	content: "\f107";
}
.secupress-icon-terminal:before {
	content: "\f120";
}
.secupress-icon-code:before {
	content: "\f121";
}
.secupress-icon-star-half-empty:before {
	content: "\f123";
}
.secupress-icon-star-half-full:before {
	content: "\f123";
}
.secupress-icon-star-half-o:before {
	content: "\f123";
}
.secupress-icon-minus-square-o:before {
	content: "\f147";
}
.secupress-icon-dropbox:before {
	content: "\f16b";
}
.secupress-icon-plus-square-o:before {
	content: "\f196";
}
.secupress-icon-slack:before {
	content: "\f198";
}
.secupress-icon-file-pdf-o:before {
	content: "\f1c1";
}
.secupress-icon-trash:before {
	content: "\f1f8";
}

.secupress-icon-radar:before {
	font-size: 1.3em;
	vertical-align: -0.16em;
}

/* Sepcific icon (i) */
.secupress-icon-i:before {
	content: "i";
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 1.45em;
	height: 1.45em;
	border: 1px solid #000;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 0.85em;
	font-weight: 500;
	font-style: italic;
	border-radius: 50%;
}
.secupress-icon-cross:before {
	transform: translateY(-1px);
}

/* Rounded icon */
i.rounded {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: 2px solid #ACB0B7;
	border-radius: 50%;
}
i.bold {
	font-weight: bold;
}

/* Icon colors */
.secupress-icon-grade-up:before {
	color: #2BCDC1;
}
.secupress-icon-grade-down:before {
	color: #CB234F;
}
.secupress-icon-minus:before {
	color: #F39C12;
}

/* SecuPress menu icon */
#wp-admin-bar-secupress .dashicons-shield-alt:before,
#toplevel_page_secupress_scanners .wp-menu-image.dashicons-shield-alt:before {
	font-family: 'secupress';
	content: "\e907";
}
.secupress-pro-notice a,
#adminmenu .wp-submenu a[href*="secupress.me"] {
	color: #F7AB13 !important;
	target-name:new;
	target-new:tab;
}

/* Font sizes */
.secupress-text-big.secupress-text-big {
	font-size: 36px;
	color: inherit;
	font-weight: normal;
}
.secupress-text-medium.secupress-text-medium {
	font-size: 21px;
	color: inherit;
	font-weight: normal;
}
.secupress-text-basup.secupress-text-basup {
	font-size: 16px;
}
.secupress-text-base.secupress-text-base {
	font-size: 13px;
}
.secupress-text-mini.secupress-text-mini {
	font-size: 10px;
	color: inherit;
	font-weight: normal;
}
.secupress-section p.secupress-small-caracters {
	width: 400px;
	max-width: 100%;
	margin: 3em auto;
	text-align: center;
	font-size: 11px;
	color: #5A626F;
}

/**
 * === Flexbox
 */
.secupress-flex,
.secupress-flex-spaced {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}
.secupress-flex > * {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.secupress-flex > * {
	margin: 0;
}

/* Columns */
.secupress-col,
[class^="secupress-col-"] {
	position: relative;
	padding: 0 15px;
}
.secupress-col-3-4 {
	width: 75%;
	-webkit-flex-basis: 75%;
	-ms-flex-preferred-size: 75%;
	flex-basis: 75%;
}
.secupress-col-2-3 {
	width: 66.666%;
	-webkit-flex-basis: 66.666%;
	-ms-flex-preferred-size: 66.666%;
	flex-basis: 66.666%;
}
.secupress-col-1-2 {
	width: 50%;
	-webkit-flex-basis: 50%;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}
.secupress-col-1-3 {
	width: 33.333%;
	-webkit-flex-basis: 33.333%;
	-ms-flex-preferred-size: 33.333%;
	flex-basis: 33.333%;
}
.secupress-col-1-4 {
	width: 25%;
	-webkit-flex-basis: 25%;
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
}
.secupress-flex .secupress-col-cta {
	min-width: 280px;
	text-align: right;
}

/* Sections Colors */

.secupress-section-dark,
.secupress-bg-dark {
	background: #222831;
	color: #FFF;
}
.secupress-section-gray-dark,
.secupress-bg-gray-dark {
	background: #393E46;
	color: #FFF;
}
.secupress-section-light,
.secupress-bg-light {
	background: #FFF;
	color: #393E46;
}
.secupress-section-gray,
.secupress-bg-gray {
	background: #F2F2F6;
	color: #393E46;
}
.secupress-section-primary {
	background: #26B3A9;
	color: #FFF;
}

/**
 * === Buttons
 */
button.secupress-virgin {
	padding: 0;
	border: 0;
	background: transparent;
	height: auto;
	box-shadow: none;
	text-shadow: none;
}
.secupress-button.secupress-button,
.secupress-button-primary.secupress-button-primary,
.secupress-button-secondary.secupress-button-secondary,
.secupress-button-tertiary.secupress-button-tertiary {
	display: inline-block;
	height: auto; /* Yeah 'cause WP locked it */
	margin: .1em 0;
	padding: 7px 20px 8px;
	border: 0;
	font-size: 14px;
	line-height: 1.5;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	text-shadow: none;
	background: #5A626F;
	box-shadow: none;
	white-space: nowrap;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-appearance: none;
	cursor: pointer;
}
.secupress-button.secupress-button:hover,
.secupress-button.secupress-button:focus,
.secupress-button-primary.secupress-button-primary:hover,
.secupress-button-primary.secupress-button-primary:focus,
.secupress-button-secondary.secupress-button-secondary:hover,
.secupress-button-secondary.secupress-button-secondary:focus,
.secupress-button-tertiary.secupress-button-tertiary:hover,
.secupress-button-tertiary.secupress-button-tertiary:focus {
	color: #FFF;
	background: #393E46;
}
[class^="secupress-button-"]::-moz-focus-inner,
.secupress-button::-moz-focus-inner {
	padding: 0;
	border: 0
}
.secupress-button .icon,
[class^="secupress-button-"] .icon,
.secupress-button .text,
[class^="secupress-button-"] .text {
	display: inline-block;
	vertical-align: middle;
}
.secupress-button .icon,
[class^="secupress-button-"] .icon {
	position: relative;
	padding-right: 10px;
	margin-left: -9px;
	margin-right: 6px;
}
.secupress-button .icon i,
[class^="secupress-button-"] .icon i {
	display: flex; /* new magic thing… */
	align-items: center; /* …to align icon */
	font-size: 18px;
}
.secupress-button .icon:after,
[class^="secupress-button-"] .icon:after {
	content: "";
	position: absolute;
	width: 1px; height: 20px;
	right: 0; top: 50%;
	margin-top: -10.5px;
	background: rgba(255,255,255,.3);
}
.secupress-button-getpro .icon {
	padding-right: 0;
}
.secupress-button-getpro .icon i {
	font-size: 20px;
}
.secupress-button-getpro .icon:after {
	display: none;
}

/* Disabled */
[class*="secupress-button"].disabled,
[class*="secupress-button"]:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
/* Not important */
.secupress-button.secupress-button.light {
	background: #ADB1B7;
}
.secupress-button.secupress-button.light:hover,
.secupress-button.secupress-button.light:focus {
	background: #393E46;
}

/* Button Colors */
.secupress-button-primary.secupress-button-primary {
	background: #2BCDC1;
}
.secupress-button-primary.secupress-button-primary:hover,
.secupress-button-primary.secupress-button-primary:focus {
	background: #26B3A9;
}
.secupress-button-secondary.secupress-button-secondary {
	background: #F2295E;
}
.secupress-button-secondary.secupress-button-secondary:hover,
.secupress-button-secondary.secupress-button-secondary:focus {
	background: #CB234F;
}
.secupress-button-tertiary.secupress-button-tertiary {
	background: #F19B12;
}
.secupress-button-tertiary.secupress-button-tertiary:hover,
.secupress-button-tertiary.secupress-button-tertiary:focus {
	background: #F7AB13;
}

/* Buttons sizes */
.secupress-button-mini.secupress-button-mini {
	font-size: 11px;
	padding: 2px 10px 3px;
	letter-spacing: 0.125em;
}
.secupress-button-mini.secupress-button-mini .icon i:before,
.secupress-button-mini.secupress-button-mini .icon i {
	display: inline-block;
	font-size: 15px;
	height: 15px;
	line-height: 0.8;
	width: 15px;
	vertical-align: -1px;
	text-align: center;
}
.secupress-button-mini.secupress-button-mini .icon {
	margin: 0 3px 0 0;
	padding: 0;
}
.secupress-button-mini.secupress-button-mini .icon:after {
	display: none;
}

.secupress-button-big.secupress-button-big {
	font-size: 18px;
}
.secupress-button-big.secupress-button-big .icon i:before,
.secupress-button-big.secupress-button-big .icon i {
	font-size: 25px;
	height: 25px;
	line-height: 1;
	width: 25px;
	vertical-align: -2px
}
.secupress-button-big.secupress-button-big .icon:after {
	height: 30px;
	margin-top: -15px;
}

.secupress-logo-block p {
	margin: 0;
	font-weight: bold;
}

.secupress-inline-form {
	display: inline-block;
}

.secupress-ghost.secupress-button {
	background: transparent;
	color: #FFF;
	border: 2px solid #FFF;
}
.secupress-ghost.secupress-ghost.secupress-ghost.secupress-button-tertiary {
	color: #f39c12;
	border-color: #f39c12;
}
.secupress-ghost.secupress-ghost.secupress-ghost.secupress-button-tertiary:hover,
.secupress-ghost.secupress-ghost.secupress-ghost.secupress-button-tertiary:focus {
	color: #FFF;
}

/**
 * === Bad Theme
 */
.secupress-bad-theme {
	line-height: 2em !important;
	height: 256px !important;
}
.secupress-bad-theme a{
	font-weight: bold;
	color: white
}
.secupress-bad-theme:before{
	content: "\f334" !important;
}

/**
 * === Get Pro marks
 */
.secupress-get-pro-version-div {
	text-align: center;
}
span.secupress-get-pro-version {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	color: #000;
	font-weight: bold;
}
.secupress-get-pro-version a,
.secupress-cta-pro a,
.secupress-setting-content-col a {
	color: #F7AB13;
}
.secupress-get-pro-col p.secupress-get-pro,
.secupress-cta-pro,
.secupress-setting-content-col .secupress-get-pro-version,
.secupress-mf-header .secupress-get-pro-version {
	position: relative;
	padding-left: 55px;
	font-weight: bold;
	font-style: normal;
	color: #000;
}
.secupress-cta-pro {
	display: inline-block;
	margin-left: 7px;
	padding-left: 52px;
	vertical-align: middle;
}
.secupress-get-pro-version:before {
	content: "\e907";
	font-family: "secupress";
}
.secupress-get-pro-col p.secupress-get-pro:before,
.secupress-cta-pro:before,
.secupress-setting-content-col .secupress-get-pro-version:before,
.secupress-mf-header .secupress-get-pro-version:before {
	position: absolute;
	top: 2px; left: 5px;
	content: "\e907";
	font-family: "secupress";
	font-size: 35px;
	line-height: 35px;
}
.secupress-get-pro-col .secupress-get-pro a:before,
.secupress-cta-pro a:before,
.secupress-setting-content-col .secupress-get-pro-version a:before,
.secupress-mf-header .secupress-get-pro-version a:before {
	content: "";
	display: block;
}