@charset "UTF-8";

/**
 * ==== TABLE OF COLORS ===
 *
 * Yellow		: #F1C40F;
 * YellowDark	: #F7AB13;
 * Red			: #F2295E;
 * RedDark		: #CB234F;
 * Green		: #2BCDC1;
 * GreenDark	: #26B3A9;
 * Dark			: #222831;
 * GrayLight	: #F2F2F6;
 * GrayMedium	: #5A626F;
 * GrayDark		: #393E46;
 *
 */

/**
 * Scanners header
 */
.secupress-scanners-header {
	padding: 17px 25px 25px;
}
.secupress-scanners-header .secupress-logo-block {
	flex-grow: 0;
}
.secupress-scanners-header .secupress-heading {
	position: relative;
	padding: 3px 5px 18px;
	border-bottom: 1px solid #393E46;
}
.secupress-scanners-header .secupress-lb-name {
	padding-left: 12px;
}
.secupress-scanners-header .secupress-col-text {
	display: none;
}
.secupress-scanners-header .secupress-col-text p {
	margin: 0;
}
.secupress-scanners-header.secupress-not-scanned-yet .secupress-col-text {
	display: block;
}

/* Label with icon on left */
.secupress-label-with-icon {
	position: relative;
	display: block;
	padding-left: 50px;
	font-weight: 500;
	text-decoration: none;
}
.secupress-label-with-icon i {
	position: absolute;
	left: 0; top: 1px;
	font-size: 35px;
	color: #26B3A9;
}
.secupress-label-with-icon .secupress-icon-secupress {
	top: 2px;
}
.secupress-label-with-icon i.rounded {
	font-size: 16px;
	border-color: #F39C12;
	color: #F39C12;
	transition: background .275s, color .275s;
}
@media (min-width: 820px) {
	.secupress-last-scan-result {
		padding-left: 166px;
	}
	.secupress-last-scan-result i {
		left: 110px;
	}
}
.secupress-label-with-icon .secupress-upper {
	display: block;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	color: #393E46;
	transition: color .275s;
}
.secupress-section-dark .secupress-label-with-icon .secupress-upper {
	color: #FFF;
}
.secupress-label-with-icon .secupress-primary {
	display: block;
	color: #26B3A9;
}
.secupress-label-with-icon .secupress-description {
	display: block;
	color: #ACB0B7;
}
.secupress-tab-selected .secupress-last-scan-result {
	opacity: 0.4;
}

/**
 * Scanners breadcrumbs steps
 */
.secupress-scanner-steps {
	position: relative;
}
.secupress-scanner-steps ol {
	margin: 1.7em 85px 1em;
}
.secupress-scanner-steps li {
	padding: 0;
}
.secupress-scanner-steps li:before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 32px;
	height: 32px;
	border: 2px solid #5A626F;
	font-size: 16px;
	font-weight: bold;
	color: #5A626F;
	border-radius: 50%;
}
.secupress-scanner-steps .secupress-past:before,
.secupress-scanner-steps .secupress-current:before {
	border-color: #F1C40F;
	color: #F1C40F;
}
.secupress-step-name {
	display: none;
	flex-shrink: 0;
	padding: 0 12px;
	font-weight: 600;
	color: #F1C40F;
}
li.secupress-current .secupress-step-name {
	display: block;
}
.secupress-not-scanned-yet .secupress-current .secupress-step-name {
	display: none;
}
.secupress-scanner-steps li:after {
	content: "";
	height: 2px;
	flex-grow: 1;
	flex-basis: 100%;
	background: #5A626F;
}
.secupress-scanner-steps li.secupress-past:after {
	background: #F1C40F;
}

/* The third step */
.secupress-scanner-steps .secupress-step-name.alt {
	display: none;
	order: 2;
}
.secupress-scanner-steps .secupress-past .secupress-step-name.alt {
	display: block;
}

/* The fourth step */
.secupress-scanner-steps li:nth-last-child(1) {
	flex-basis: auto;
	width: auto;
}
.secupress-scanner-steps li:nth-last-child(1):after {
	display: none;
}
li.secupress-current:nth-last-child(1) .secupress-step-name {
	position: absolute;
	width: 1px; height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
}

/* Arrow below current step */
.secupress-scanner-steps .secupress-current .secupress-step-name {
	position: relative;
}
.secupress-scanner-steps .secupress-current .secupress-step-name:after {
	content: "";
	position: absolute;
	bottom: -50px; left: -44px;
	border-bottom: 22px solid #F2F2F6;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
}
.secupress-not-scanned-yet .secupress-scanner-steps .secupress-step-name:after {
	display: none;
}

/**
 * First One Click Scan not done yet
 */
/* Hide some items */
.secupress-scanners-header.secupress-not-scanned-yet .secupress-scan-header-main,
.secupress-scanners-header.secupress-not-scanned-yet ~ .secupress-scanner-main-content ,
.secupress-scanners-header.secupress-not-scanned-yet .secupress-last-scan-result {
	display: none;
}
.secupress-no-first-oneclickscan-yet .secupress-logo-block {
	position: relative;
	top: 55px;
	z-index: 2;
}
.secupress-introduce-first-scan {
	position: relative;
	padding: 16px 10px;
}
.secupress-introduce-first-scan .secupress-icon-secupress:before,
.secupress-rescan-progress-infos .secupress-icon-secupress:before {
	display: inline-block;
	margin-bottom: .25em;
	font-size: 65px;
}
.secupress-introduce-first-scan h3,
.secupress-rescan-progress-infos h3 {
	margin: .75em 0;
	font-size: 23px;
	font-weight: 500;
	color: #FFF;
}
.secupress-introduce-first-scan h3,
.secupress-introduce-first-scan p {
	position: relative;
	z-index: 1;
}
.secupress-introduce-first-scan p.secupress-start-one-click-scan {
	margin-top: 35px;
}

/**
 * Button to progressbar
 */
.secupress-start-one-click-scan .secupress-button,
.secupress-rescan-actions .secupress-button {
	position: relative;
	transition: all .275s;
	max-width: 100%;
	max-height: 40px;
}
.secupress-scanning .secupress-start-one-click-scan .secupress-button,
.secupress-scanning .secupress-rescan-actions .secupress-button {
	width: 610px!important;
	max-width: 100%;
	max-height: 8px;
	padding: 0;
	background: #393E46;
	border-radius: 8px;
}
.secupress-scanning .secupress-rescan-actions .secupress-button {
	margin-top: 17px;
	margin-bottom: 17px;
}
.secupress-scanning .secupress-start-one-click-scan .secupress-button .text,
.secupress-scanning .secupress-start-one-click-scan .secupress-button .icon,
.secupress-scanning .secupress-rescan-actions .secupress-button .text,
.secupress-scanning .secupress-rescan-actions .secupress-button .icon {
	opacity: 0;
	visibility: hidden;
}

/* Progress bar values */
.secupress-progressbar-val {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	margin-left: -4px;
	background: #2BCDC1 linear-gradient(to right, #2BCDC1, #F1C40F) 0 0 no-repeat;
	transition: width .175s linear;
	visibility: hidden;
	opacity: 0;
	border-radius: 8px;
}
.secupress-progressbar-val:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 8px;
	margin-right: -1px;
	background: #F1C40F;
	border-radius: 50%;
	box-shadow: 0 0 4px #f1c40f, 0 0 14px #f1c40f, 0 0 10px #f1c40f;
	animation: loadingHalo 2s infinite;
	opacity: 1;
	z-index: 2;
}
@keyframes loadingHalo {
	50% {
		opacity: 0;
	}
}
.secupress-scanning .secupress-start-one-click-scan .secupress-button,
.secupress-scanning .secupress-rescan-actions .secupress-button {
	opacity: 1;
}
.secupress-scanning .secupress-button .secupress-progressbar-val {
	visibility: visible;
	opacity: 1;
	z-index: 2;
}
.secupress-progress-val-txt {
	position: absolute;
	top: 100%;
	right: -20px;
	margin-top: 14px;
	padding: 0 6px;
	white-space: nowrap;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	background: #F39C12;
	border-radius: 2px;
	letter-spacing: 0;
}
.secupress-progress-val-txt:before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin: 0 0 0 -4px;
	border-bottom: 4px solid #F39C12;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
/* scan speed */
#secupress-scan-speed {
    background: #26B3A9;
    position: absolute;
    z-index: 999;
    padding: 7px;
    line-height: 0.6em;
    /*height: 80px;*/
    border-radius: 3px;
    border: 2px solid #18756f;
}
#secupress-scan-speed a {
	border-bottom: 1px solid;
	font-style: italic;
	color: white;
	font-weight: 400;
	font-size: smaller;
}
#secupress-scan-speed span.dashicons {
	vertical-align: text-top;
}

.secupress-button#secupress-button-scan-speed{
    height: 39px;
    left: -8px;
    padding: 0;
    top: 2px;
	width: 23px;
}

.secupress-tabs-controls #secupress-scan-speed li {
    margin: 0 0 1em 0;
}

#secupress-scan-speed ul {
    margin: 0.6em 0;
}

p.secupress-rescan-actions{
	margin-bottom: 0;
}
/* Title progression */
.secupress-scanned-items {
	display: block;
	margin-top: 10px;
	max-height: 0;
	font-size: 13px;
	font-weight: 700;
	color: #2BCDC1;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: all .275s;
}
.secupress-scanning .secupress-scanned-items {
	max-height: 3em;
	opacity: 1;
	visibility: visible;
}
.secupress-second-title,
.secupress-scanning .secupress-init-title {
	display: none;
}
.secupress-scanning .secupress-second-title,
.secupress-init-title {
	display: block;
}

/* Re-scan specific styles */
.secupress-rescan-progress-infos {
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	transition: all .275s;
	transform: translateY(-20px);
}
.secupress-scanning .secupress-rescan-progress-infos {
	position: static;
	max-height: 20em;
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.secupress-tabs-contents,
.secupress-last-scan-result {
	transition: all .275s;
}
.secupress-scanning .secupress-last-scan-result {
	opacity: .3;
}
.secupress-scanning .secupress-tabs-contents {
	overflow: hidden;
	flex-basis: 0;
	white-space: nowrap;
}
.secupress-scanning .secupress-tabs-controls {
	flex-basis: 100%;
	text-align: center;
}
.secupress-scanning .secupress-open-moreinfo {
	opacity: 0;
	visibility: hidden;
}
.secupress-scanning + .secupress-scanner-main-content .secupress-step-content-container,
.secupress-scanning .secupress-tabs-controls-list {
	display: none;
	visibility: hidden;
}

/**
 * More infos links
 */
.secupress-not-scanned-yet .secupress-close-moreinfo {
	display: none;
}
.secupress-close-moreinfo .secupress-icon-cross:before {
	vertical-align: -1.5px;
}
.secupress-close-moreinfo {
	margin-right: 25px;
	transform: translateY(-15px);
	opacity: 0;
	visibility: hidden;
}
.secupress-open .secupress-close-moreinfo {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.secupress-open-moreinfo {
	transform: translateY(0);
}
.secupress-open-moreinfo.secupress-activated {
	transform: translateY(15px);
	opacity: 0;
	visibility: hidden;
}

/**
 * Blobs in More Info pannel
 */
.secupress-not-scanned-yet [id="secupress-more-info"],
.secupress-is-step-2 + [id="secupress-more-info"],
.secupress-is-step-3 + [id="secupress-more-info"],
.no-js [id="secupress-more-info"] {
	position: relative;
	margin: 0 -33px;
	left: 0;
}
[id="secupress-more-info"] {
	position: absolute;
	bottom: 100%;
	left: -25px; right: -25px;
	z-index: 2;
	padding-bottom: 18px;
	margin-top: 1px; /* lets the top border appears */
}
.secupress-section-dark [id="secupress-more-info"] {
	background: #222831;
}
[id="secupress-more-info"] .secupress-blob {
	transform: scale(1.1);
	transition: all .275s;
	opacity: 0;
	visibility: hidden;
}
[id="secupress-more-info"].secupress-open .secupress-blob,
.no-js .secupress-blob {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}
[id="secupress-more-info"].secupress-open .secupress-blob {
	transition-delay: 0.25s;
}
[id="secupress-more-info"].secupress-open .secupress-col-1-4:nth-child(2) .secupress-blob {
	transition-delay: 0.5s;
}
[id="secupress-more-info"].secupress-open .secupress-col-1-4:nth-child(3) .secupress-blob {
	transition-delay: 0.75s;
}
[id="secupress-more-info"].secupress-open .secupress-col-1-4:nth-child(4) .secupress-blob {
	transition-delay: 1s;
}

/**
 * Scan header main contents
 */
.secupress-scan-header-main {
	padding: 0 80px;
}

.secupress-tabs-controls {
	flex-shrink: 0;
	padding-left: 20px;
	padding-top: 21px;
}
.secupress-tabs-controls li {
	margin: 0 0 2.5em 0;
}
.secupress-tabs-controls-list {
	margin: 0;
}
.secupress-tabs-controls-list a,
.secupress-rich-link {
	position: relative;
	display: block;
	text-decoration: none;
	border-radius: 3px;
	text-align: left;
}
.secupress-tabs-controls-list a:hover .secupress-upper,
.secupress-tabs-controls-list a:focus .secupress-upper,
.secupress-rich-link:hover .secupress-upper,
.secupress-rich-link:focus .secupress-upper {
	color: #F39C12;
}
.secupress-tabs-controls-list a:hover i.rounded,
.secupress-tabs-controls-list a:focus i.rounded,
.secupress-rich-link:hover i.rounded,
.secupress-rich-link:focus i.rounded {
	background: #F39C12;
	color: #FFF;
}
.secupress-section-dark .secupress-tabs-controls-list a:hover i.rounded,
.secupress-section-dark .secupress-tabs-controls-list a:focus i.rounded,
.secupress-section-dark .secupress-rich-link:hover i.rounded,
.secupress-section-dark .secupress-rich-link:focus i.rounded {
	color: #222831;
}
.secupress-tabs-controls .secupress-button-primary {
	letter-spacing: 0.1em;
	background: #26B3A9;
}
.secupress-tabs-controls .secupress-button-primary:hover,
.secupress-tabs-controls .secupress-button-primary:focus {
	background: #2bcdc1;
}
.secupress-tabs-controls-list .secupress-label-with-icon,
.secupress-rich-link .secupress-label-with-icon {
	padding-left: 54px;
}

.secupress-tab-selected .secupress-tabs-contents {
	position: relative;
}
.secupress-tab-selected .secupress-tabs-contents:after {
	content: "";
	position: absolute;
	right: 15px;
	top: 25px;
	bottom: 25px;
	width: 1px;
	background: #393e46;
}
.secupress-tab-selected .secupress-tabs-controls {
	padding-top: 35px;
}
.secupress-tab-selected .secupress-tabs-controls-list a {
	opacity: .4;
}
.secupress-tab-selected .secupress-tabs-controls-list .secupress-current {
	opacity: 1;
}
.secupress-tab-selected .secupress-tabs-controls-list .secupress-current:after,
.secupress-tab-selected .secupress-tabs-controls-list .secupress-current:before {
	content: "";
	position: absolute;
	left: -36px;
	top: 50%;
	margin-top: -14px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #393e46;
}
.secupress-tab-selected .secupress-tabs-controls-list .secupress-current:after {
	left: -37.5px;
	border-left-color: #222831;
}
.secupress-tab-selected .secupress-tabs-controls-list li.hidden {
	display: block;
}
.secupress-tab-selected .secupress-rescan-actions {
	display: none;
}


/* Little pieces of colors for chart legend or item status */
.secupress-chart-legend {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.01em;
}
.secupress-chart-container.secupress-chart-container {
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 30px;
	line-height: 1;
}
.no-js .secupress-chart-container {
	width: 125px;
	height: 170px;
}
.secupress-chart-legend li {
	margin: 0;
}
.secupress-chart-legend li + li {
	margin-top: 1em;
}
.secupress-carret {
	display: inline-block;
	height: 1.75em;
	width: 5px;
	margin-right: 5px;
	vertical-align: -.5em;
}
.status-good .secupress-carret {
	background: #26B3A9;
}
.status-warning .secupress-carret {
	background: #F7AB13;
}
.status-bad .secupress-carret,
.status-error .secupress-carret {
	background: #CB234F;
}
.status-notscannedyet .secupress-carret,
.status-cantfix .secupress-carret {
	background: #5A626F;
}

.secupress-chart-legend [class^="secupress-count-"]:not(:empty):before {
	content: "(";
}
.secupress-chart-legend [class^="secupress-count-"]:not(:empty):after {
	content: ")";
}

/* WordPress generic style fix */
[class^="secupress-"] .status-warning {
	color: inherit;
}

/* Doughnut Chart */
.secupress-chart-container {
	position: relative;
}
.secupress-chart-container:after {
	content: "\e903";
	position: absolute;
	top: 50%; left: 50%;
	line-height: 105px;
	margin: -50px 0 0 -54px;
	font-family: "secupress";
	font-size: 110px;
	color: rgba(255,255,255,.07);
}

.scanning .secupress-fix-status-actions {
	visibility: hidden;
	speak: none;
}
.status-good .secupress-fix-status-actions,
.status-warning .secupress-fix-status-actions,
.status-notscannedyet .secupress-fix-status-actions,
.has-fix-status .secupress-fix-status-actions,
.status-good .secupress-fix-result-retryfix,
.status-warning .secupress-fix-result-retryfix,
.status-notscannedyet .secupress-fix-result-retryfix,
.no-fix-status .secupress-fix-result-retryfix {
	display: none;
	visibility: hidden;
	speak: none
}

.secupress-tabs-contents {
	flex-basis: 70%;
	flex-grow: 0;
	min-height: 265px;
}
.no-js .secupress-tabs-contents {
	flex-basis: 100%;
	min-height: none;
	display: block;
}
.secupress-tabs-contents > div {
	padding: 0 35px 0 0;
}
.no-js .secupress-tabs-contents > div + div {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid #393e46;
}
.secupress-tab-content[id="secupress-schedule"] .secupress-text-medium {
	position: relative;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}
.secupress-cta-detail {
	margin-top: -1em;
	font-size: 11px;
	font-weight: bold;
	color: #5A626F;
}

.secupress-schedules-infos .secupress-schedule-last-one {
	margin: 2em 0 0.5em;
}
.secupress-schedules-infos .secupress-schedule-next-one {
	margin: 0.5em 0 2em;
}

.secupress-schedules-infos .secupress-schedule-next-one {
	color: #F39C12;
}
.secupress-schedules-infos.is-pro .secupress-schedule-next-one {
	color: #26B3A9;
}
.secupress-schedules-infos i {
	font-size: 1.2em;
	vertical-align: -2px;
	margin-right: 5px;
}
.secupress-schedules-infos .secupress-button {
	letter-spacing: 0.125em;
}
/* right cols with Status text and actions */
.secupress-fix-status-actions {
	padding-top: 4px;
}
.secupress-fix-status-text:not(:empty) {
	padding: 5px 0;
}
/* Fix it button + How? action */
a + .secupress-row-actions {
	margin-top: 5px;
}

.secupress-reports-list {
	display: flex;
	flex-direction: column;
	margin: 1.1em 0 2.85em;
	font-size: 1.1em;
}
.secupress-reports-list li > * {
	flex-basis: 27%;
	vertical-align: middle;
}
.secupress-reports-list li {
	display: flex;
	align-items: center;
	padding: 6px 0 3px;
}
.secupress-reports-list li + li {
	border-top: 1px solid #393e46;
}
.secupress-reports-list .secupress-latest-list-date {
	flex-basis: 38%;
	margin: 0 1em;
	color: #5A626F;
}
.secupress-reports-list i:before {
	font-size: 1.15em;
}
.secupress-reports-list .secupress-icon-minus:before {
	font-size: 1.45em;
}
.secupress-reports-list .dashicons-arrow-right-alt2 {
	color: #5A626F;
}
.secupress-reports-list .secupress-latest-list-grade,
.secupress-reports-list i {
	flex: 0 0 auto;
}
.secupress-reports-list .secupress-latest-list-grade {
	width: 22px;
	height: 22px;
	margin: 0 2em;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #5A626F;
	color: #5A626F;
	font-weight: bold;
}

#table-secupress-tests ul {
	list-style: disc outside;
}
.dashicons-external {
	font-size: 1.2em;
}

.secupress-prio-title {
	padding: 8px 10px;
	margin: 3.5em 0 1em;
	background: #ECF0F1;
	color: #5A626F;
	font-weight: bold;
	letter-spacing: 0.125em;
}
.secupress-prio-h {
	color: inherit;
	margin: 0;
	font-size: 11px;
	text-transform: uppercase;
}
.secupress-prio-h + p {
	font-size: 10px;
	margin: 0;
	opacity: 0.8;
}
.secupress-table-prio-all .details {
	font-style: italic;
	background: #ddf;
}
.secupress-item-all.hidden + .details {
	display: none;
}
.secupress-details .dashicons-editor-help {
	vertical-align: top;
	line-height: .7em;
}
.secupress-result-list {
	margin: 0;
}
.secupress-item-all .secupress-button-mini.secupress-button-mini .icon {
	margin: 0 2px 0 -3px;
}
.secupress-item-all .secupress-button-mini.secupress-button-mini .secupress-icon-shield {
	vertical-align: -1.25px;
}

/* Scanning & Fixing animations */

.secupress-item-all.scanning .secupress-icon-refresh {
	animation: rotation 2s infinite linear;
}
@keyframes rotation {
	100% {
		transform: rotate(1turn);
	}
}

.secupress-item-all.fixing .secupress-icon-shield,
.secupress-mf-content.fixing .secupress-icon-shield,
.secupress-mf-content.scanning .secupress-icon-shield {
	animation: rotateshield 2s infinite linear;
}
@keyframes rotateshield {
	0% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(360deg);
	}
}
[id="secupress-scan"] .secupress-actions-line .secupress-button {
	letter-spacing: 1px;
}

.secupress-scan-result ul,
.secupress-fix-result ul {
	margin: 0;
}
.secupress-scan-result li,
.secupress-fix-result li {
	margin-bottom: 0;
}
.secupress-scan-result li + li,
.secupress-fix-result li + li {
	margin-top: 6px;
}
.test-fix-action h3 {
	margin-top: 0;
}
.test-fix-action .submit {
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: left;
}
.secupress-chart-container .secupress-score .letter {
	position: absolute;
	font-size: 82px;
	top: 50%; left: 50%;
	margin: -.5em 0 0 -.33em;;
	font-family: Arial, Helvetica, sans-serif;
}
.secupress-scan-infos .secupress-score-text {
	margin-bottom: 0.1em;
	line-height: 1.25;
}
.secupress-scan-infos .secupress-score-subtext {
	margin: .75em 0 1em;
}
.secupress-scan-infos .letter {
	font-weight: bold;
	font-size: 1.2em;
}
.secupress-chart-container .secupress-score .l∅ {
	font-size: 64px;
	margin: -0.45em 0 0 -0.44em;
}
.secupress-score .lA,
.secupress-reports-list .lA,
.dashicons-arrow-up-alt2 {
	color: #2BCDC1;
}
.secupress-latest-list-grade.lA {
	border-color: #2BCDC1;
}
.secupress-score .lB,
.secupress-reports-list .lB {
	color: #F1C40F;
}
.secupress-latest-list-grade.lB {
	border-color: #F1C40F;
}
.secupress-score .lC,
.secupress-reports-list .lC,
.dashicons-arrow-down-alt2 {
	color: #F7AB13;
}
.secupress-latest-list-grade.lC {
	border-color: #F7AB13;
}
.secupress-score .lD,
.secupress-reports-list .lD {
	color: #F2295E;
}
.secupress-latest-list-grade.lD {
	border-color: #F2295E;
}
.secupress-score .lE,
.secupress-reports-list .lE {
	color: #CB234F;
}
.secupress-latest-list-grade.lE {
	border-color: #CB234F;
}
.secupress-score .lF,
.secupress-reports-list .lF {
	color: #c32222;
}
.secupress-latest-list-grade.lF {
	border-color: #c32222;
}
.mini {
	font-size: 12px;
	line-height: 1.7;
}
.link-like {
	padding: 0;
	border: none;
	margin: 0;
	font-size: 1em;
	line-height: inherit;
	text-align: left;
	text-transform: none;
	text-shadow: none;
	background: none;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	transition: all .275s;
}

/**
 * Steps contents
 */
.secupress-scanner-main-content {
	padding-bottom: 50px;
}
.secupress-step-content-container {
	width: 910px;
	max-width: 100%;
	padding: 25px;
	margin: 0 auto;
}
.secupress-step-title {
	font-size: 16px;
	font-weight: 500;
	color: #5A626F;
}
/* Boxes with shadow in every steps */
.secupress-scans-group {
	background: #FFF;
	box-shadow: 0 10px 15px rgba(34, 40, 49, .2);
}
.secupress-scans-group {
	margin: 2.5em 0;
}
.secupress-sg-header {
	padding: 0 0 0 25px;
	background: #222831;
	color: #FFF;
}
.secupress-manual-fix {
	margin: 2.5em 0;
	background: #FFF;
	box-shadow: 0 10px 15px rgba(34, 40, 49, .2);
}
.secupress-sg-header,
.secupress-mf-header {
	padding: 0 0 0 20px;
	background: #222831;
	color: #FFF;
}
.secupress-mf-header {
	padding: 15px 75px 15px 25px;
}
.secupress-is-only-pro.secupress-mf-header {
	padding-right: 20px;
}
.secupress-mfh-pro {
	flex-basis: 200px;
	padding-left: 25px;
	text-align: right;
}
.secupress-mf-header .secupress-get-pro-version {
	display: inline-block;
	text-align: left;
	font-weight: 500;
	color: #FFF;
	white-space: nowrap;
}
.secupress-group-new .secupress-sg-header {
	background: #26B3A9;
}
.secupress-sg-header.secupress-flex,
.secupress-mf-header.secupress-flex {
	align-items: initial;
}
.secupress-header-dot {
	line-height: 0;
	padding: 0 20px 0 0;
}
.secupress-mf-header {
	position: relative;
}
.secupress-sgh-name {
	position: relative;
	font-weight: 500;
	padding: 13px 0;
}
.secupress-mfh-name {
	flex-grow: 1;
}
.secupress-sgh-name p {
	margin: 0;
	line-height: 1.4;
}
.secupress-sgh-name i,
.secupress-mfh-name i {
	position: absolute;
	right: -65px;
	bottom: -1px;
	font-size: 48px;
	color: rgba(236, 240, 241, 0.2);
}
.secupress-mfh-name i {
	right: -55px;
	bottom: 0;
}
.secupress-group-new .secupress-sgh-name i {
	bottom: -2px;
	color: rgba(255, 255, 255, 0.2);
}
.secupress-sgh-title {
	font-size: 16px;
	color: #2BCDC1;
}

.secupress-mfh-title {
	flex-basis: 100%;
	font-size: 16px;
	color: #FFF;
}
.secupress-group-new .secupress-sgh-title {
	color: #FFF;
}

.secupress-sgh-actions button {
	margin-left: 20px;
	padding: 0 26px;
	border: 0;
	color: #F39C12;
	background: #393E46;
}
.secupress-sgh-actions button:hover,
.secupress-sgh-actions button:focus {
	background: rgba(0, 0, 0, .35);
}
.secupress-sgh-actions button i:before {
	display: inline-block;
	font-size: 22px;
	transform-origin: 50% 61% 0;
	transition: transform .275s;
}
.secupress-sgh-actions .secupress-activated i:before {
	transform: rotate(180deg);
}
.secupress-sgh-actions .text {
	color: #FFF;
}
.secupress-sgh-actions .label-before-text {
	margin-right: 5px;
	font-size: 11px;
	letter-spacing: 0.125em;
	text-transform: uppercase;
}

/* New group section */
.secupress-group-new .secupress-sg-header {
	background: #26B3A9;
}
.secupress-group-new .secupress-sgh-name i {
	bottom: -2px;
	color: rgba(255, 255, 255, 0.2);
}
.secupress-group-new .secupress-sgh-title {
	color: #FFF;
}
.secupress-group-new .secupress-sgh-actions button {
	color: #FFF;
	background: #2BCDC1;
}

/**
 * Forms: Checkboxes in header
 */
.secupress-scans-group .secupress-sgh-actions .label-text {
	margin-right: 15px;
}
.secupress-sgh-actions .secupress-checkbox:not(:checked) + .label-text:before,
.secupress-sgh-actions .secupress-checkbox:checked + .label-text:before {
	background: #222831;
}
.secupress-sgh-actions .secupress-checkbox:not(:checked) + .label-text:after,
.secupress-sgh-actions .secupress-checkbox:checked + .label-text:after {
	top: -11px;
}
/* In-item checkboxes */
.secupress-item-all .secupress-checkbox:not(:checked) + .label-text:before,
.secupress-item-all .secupress-checkbox:checked + .label-text:before {
	left: 10px;
	background: #FFF;
}
.secupress-item-all .secupress-checkbox:not(:checked) + .label-text:after,
.secupress-item-all .secupress-checkbox:checked + .label-text:after {
	top: -12px;
	left: 15px;
}
/* All checkboxes */
.secupress-scans-group .secupress-checkbox:not(:checked) + .label-text:before,
.secupress-scans-group .secupress-checkbox:checked + .label-text:before {
	top: -14px;
	border-color: #2BCDC1;
}
.secupress-scans-group .secupress-checkbox:not(:checked) + .label-text:after,
.secupress-scans-group .secupress-checkbox:checked + .label-text:after {
	color: #2BCDC1;
}
.secupress-group-new .secupress-sg-content {
	border: 1px solid #2BCDC1;
	border-top: 0;
}
.secupress-step-content-footer .secupress-get-pro-version {
	display: block;
	margin: 4px 0 0 4px;
}

/**
 * === Scanned Items
 */
.secupress-tests .secupress-item-all {
	position: relative;
}
.secupress-item-all .secupress-flex {
	padding: 20px 25px;
}
.secupress-tests .secupress-item-all + .secupress-item-all {
	border-top: 1px solid #F2F2F6;
}
.secupress-item-all.secupress-only-pro:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #FFF repeating-linear-gradient(-45deg, #fff, #fff 10px, #EEE 10px, #EEE 11px) repeat scroll 0 0;
	opacity: 0.6;
	z-index: 2;
}
.secupress-item-all .secupress-get-pro-version a:before {
	content: "";
	display: block;
	height: 1px; width: 100%;
}
.secupress-item-all .secupress-get-pro-version {
	position: relative;
	padding-left: 46px;
	text-align: left;
}
.secupress-item-all .secupress-get-pro-version:before {
	position: absolute;
	top: -4px;
	left: 0;
	font-size: 34px;
	font-weight: normal;
}
.secupress-item-status,
.secupress-details-icon {
	flex-basis: 110px;
	flex-shrink: 0;
	padding-right: 15px;
}
.secupress-item-status.secupress-status-mini {
	flex-basis: 44px;
}
.secupress-row-actions,
.secupress-item-all .secupress-placeholder {
	flex-basis: 200px;
	flex-shrink: 0;
	text-align: right;
}
.secupress-only-pro .secupress-row-actions {
	z-index: 3;
}
.secupress-item-title {
	flex-basis: 100%; /* for too small titles */
	font-size: 13px;
	color: #5A626F;
}
.secupress-mf-content {
	color: #5A626F;
}
.secupress-mf-content .secupress-item-content {
	padding: 20px 25px;
}
.secupress-ic-title {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	color: #393E46;
}
.secupress-ic-desc {
	margin-top: 10px;
	margin-bottom: 25px;
}
.secupress-ic-fix-actions {
	border-top: 1px solid #F2F2F6;
	margin-top: 20px;
	padding-top: 20px;
}
.secupress-mf-content .secupress-actions {
	margin: 0 -20px;
}
.secupress-mf-content .secupress-action-doc {
	margin: 0 -10px;
	text-align: left;
}
.secupress-mf-content .secupress-actions .secupress-button {
	margin: 5px 20px;
}
.secupress-mf-content .secupress-action-doc .secupress-button {
	margin: 5px 10px;
	white-space: nowrap;
}
.secupress-item-all .secupress-label {
	text-transform: uppercase;
}
.status-notscannedyet .secupress-label {
	border-color: #F1C40F;
	color: #F1C40F;
}
.status-bad .secupress-label {
	border-color: #CB234F;
	color: #CB234F;
}
.status-warning .secupress-label {
	border-color: #F19B12;
	color: #F19B12;
}
.status-good .secupress-label {
	border-color: #2BCDC1;
	color: #2BCDC1;
}
.secupress-status {
	text-transform: uppercase;
	letter-spacing: 0.125em;
	font-weight: bold;
	color: #ADB1B7;
}
.secupress-status i {
	margin-right: 3px;
	font-weight: normal;
	font-size: 16px;
	vertical-align: -2px;
}
.secupress-status-good {
	color: #2BCDC1;
}
.secupress-status-bad {
	color: #CB234F;
}
.secupress-status-warning {
	color: #F19B12;
}
.secupress-item-details {
	position: relative;
	background: #ECF0F1;
	color: #5A626F;
}
.secupress-mf-content .secupress-item-details {
	padding: 25px 25px 25px 0;
}
.secupress-mf-content .secupress-details-icon {
	padding-right: 0;
}
.secupress-item-details:before {
	content: "";
	position: absolute;
	right: 50px; top: 0;
	border-bottom: 12px solid #ECF0F1;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}
.secupress-item-details.secupress-open:before {
	top: -11px;
}
.secupress-details-icon .secupress-icon-i {
	font-size: 2.7em;
	line-height: 1;
}
.secupress-details-icon {
	text-align: center;
}
.secupress-details-icon .secupress-icon-i:before {
	border-width: 2px;
	border-color: #ADB1B7;
	color: #ADB1B7;
	font-weight: 500;
}

/* Row under item title */
.secupress-row-actions .link-like {
	color: #9B9B9B;
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 0.05em;
	text-transform: lowercase;
}
.secupress-row-actions .link-like .icon,
.secupress-row-actions .link-like .text {
	display: inline-block;
	vertical-align: middle;
}
.secupress-row-actions .link-like .icon {
	line-height: 0.8;
}
.secupress-row-actions .link-like .icon i {
	font-size: 1.2em;
	margin-right: 2px;
}
.secupress-toggle-button.hidden {
	color: #333;
}

/* Step 3 particulars */
.secupress-step-by-step {
	padding-right: 15px;
	margin-right: 15px;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	background: #393E46;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05), 0 3px 4px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	overflow: hidden;
}
.secupress-step-by-step .text {
	margin-left: .5em;
}
.secupress-step-by-step .step3-advanced-text {
	min-width: 1.3em;
	padding: 7px 10px;
	margin-right: 8px;
	margin-left: 0;
	font-size: 14px;
	text-align: center;
	background: #F19B12;
	border-radius: 0 2px 2px 0;
}

/* Col with Fix-it button */
.secupress-item-actions-fix,
.secupress-scan-actions,
.secupress-fix-result-retryfix {
	padding-right: 15px;
	text-align: right;
	-webkit-flex-basis: 270px;
	-ms-flex-preferred-size: 270px;
	flex-basis: 270px;
}
.secupress-item-actions-fix {
	padding-top: 10px;
}
.secupress-fix-result-retryfix {
	padding-right: 0;
}

a:hover .secupress-icon-cog,
a:focus .secupress-icon-cog {
	display: inline-block;
	animation: 2s linear 0s infinite rotation;
	transform-origin: 5.6px 7.0px 0;
}

/* Scan result and actions */
.secupress-scan-result-n-actions {
	border-top: 1px solid #ECF0F1;
	margin: 8px 0 0 15px;
	padding: 6px 0;
	color: #5A626F;
}

.secupress-item-all code {
	display: inline;
	padding: 2px 3px;
	background: #f2f2f6;
	color: #393e46;
}

.secupress-fix-result-message:not(:empty) {
	padding: 0 15px 10px 0;
}
.secupress-fix-result-actions {
	padding: 8px 15px;
}
.secupress-fix-result-actions .secupress-button {
	text-transform: none;
}

/* If status is good */
.secupress-item-all.status-good .secupress-fix-result-actions {
	display: none;
}
.secupress-fix-result-actions p {
	margin: 0;
}

/* Form items used to manual fix */
.secupress-group-horizontal > input {
	margin-bottom: .65em;
}
.secupress-group-horizontal > label {
	margin-right: .875em;
	margin-bottom: .71em;
}
ul.secupress-radio-group-vertical,
ul.secupress-checkbox-group-vertical,
.secupress-radio-group-vertical ul,
.secupress-checkbox-group-vertical ul {
	margin-top: 0;
}
.secupress-radio-group-vertical li,
.secupress-checkbox-group-vertical li {
	padding-left: 1.5em;
}
.wp-admin .secupress-radio-group-vertical [type="radio"],
.wp-admin .secupress-checkbox-group-vertical [type="checkbox"] {
	float: left;
	font-size: .875em;
	margin-left: -1.714em;
	margin-top: .4286em;
}
/**/
.too-many-admins-posts-wrapper,
.too-many-admins-role-wrapper {
	display: none;
}
[value="delete"]:checked ~ .too-many-admins-posts-wrapper,
[value="changerole"]:checked ~ .too-many-admins-role-wrapper {
	display: block;
	margin-top: .5em;
}


/**
 * Step 4
 */
.secupress-is-finish-report {
	margin-top: 25px;
}
.secupress-is-finish-report .secupress-sg-header {
	background: #393e46;
}
.secupress-is-finish-report .secupress-scans-group {
	margin: 0;
	box-shadow: none;
}
.secupress-is-finish-report .secupress-sgh-actions button i:before {
	font-size: 32px;
	font-weight: bold;
	color: #FFF;
	transform-origin: 10.5px 18px 0;
}
.secupress-is-finish-report .secupress-step-content-footer {
	border-top: 1px solid #f2f2f6;
	padding: 20px;
}

/* Go farther block */
.secupress-go-farther {
	border-top: 5px solid #F2F2F6;
	padding: 0 25px;
}
.secupress-summaries[aria-hidden="true"] + .secupress-go-farther {
	border-top: 0;
}
.secupress-go-farther .secupress-flex {
	padding: 25px 0;
}
.secupress-go-farther .secupress-col:first-child {
	flex-basis: 100%;
	padding-left: 0;
}
.secupress-go-farther .secupress-col:last-child {
	padding-right: 0;
}
.secupress-go-farther .secupress-col-action {
	flex-basis: 295px;
	flex-shrink: 0;
	text-align: right;
}
.secupress-go-farther .secupress-flex + .secupress-flex {
	border-top: 1px solid #f2f2f6;
}
.secupress-farther-title {
	margin-bottom: 0;
	font-weight: 600;
	font-size: 16px;
	color: #26B3A9;
}
.secupress-go-farther .secupress-farther-desc {
	margin: .55em 0 .5em;
	color: #5A626F;
}

/* Pro summary block */
.secupress-pro-summary {
	margin-top: 4em;
}
.secupress-summary-header .secupress-col-logo {
	flex-basis: 110px;
	flex-grow: 0;
	padding: 25px 5px 25px 25px;
}
.secupress-summary-header .secupress-text-medium {
	flex-basis: 60%;
	font-size: 24px;
	margin-top: 0;
}
.secupress-summary-header .secupress-text-medium + p {
	margin: 5px 0;
}
.secupress-summary-header .secupress-chart-legend {
	margin: 10px -10px;
}
.secupress-summary-header .secupress-chart-legend li {
	display: inline-block;
	margin: 0 10px;
}
.secupress-summary-header .secupress-button-mini {
	padding: 4px 12px 5px;
	margin-right: 10px;
}
.secupress-col-summary-text {
	padding-top: 17px;
	padding-bottom: 17px;
}

/* Twitter block in A grade case */
[id="tweeterA"] {
	margin: 2em auto 1.5em;
}
[id="tweeterA"] span {
	color: #55acee;
}
[id="tweeterA"] q {
	position: relative;
	display: block;
	padding-left: 25px;
	font-size: 1.2em;
	line-height: 1.7;
	color: rgba(255,255,255,.65);
}
[id="tweeterA"] q:before {
	content: "“";
	position: absolute;
	top: 0;
	left: 0;
	font-size: 3em;
	line-height: 1;
	color: rgba(255,255,255,.2);
	font-family: Georgia, Times, serif;
}
[id="tweeterA"] .secupress-button {
	margin-left: 23px;
}
.disabled {
	border-color: #ccc;
	color: #ccc;
}
