@media screen and (min-width: 48em) {
    .wrap {
        max-width: 1200px;
    }
}

.entry-title a,
.entry-meta a,
.entry-content a img,
.page-links a,
.page-links a .page-number,
.post-navigation a,
.logged-in-as a,
.comment-navigation a,
.comment-metadata a,
.comment-metadata a.comment-edit-link,
.comment-reply-link,
a .nav-title,
.pagination a,
.comments-pagination a,
.site-info a,
.widget .widget-title a,
.widget ul li a,
.site-footer .widget-area ul li a,
.site-footer .widget-area ul li a {
    -webkit-box-shadow: inset 0 -1px 0 rgba(#fff, 0);
    box-shadow: inset 0 -1px 0 rgba(#fff, 0);
}