// ***************************************************************
// Base font
// ***************************************************************

$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-line-height: 1.45;
$base-font-color: $color-black;

$font-size-base: 18px;

// 18px

// $h1: 2.441rem; // 44px;
// $h2: 1.953rem; // 35px;
// $h3: 1.56rem; // 28px;
// $h4: 1.25rem; // 22px;

$h1: 2.441rem;

// 44px;
$h2: 1.653rem;

// 35px;
$h3: 1.36rem;

// 28px;
$h4: 1.2rem;

// 22px;
$font-size-medium: 1rem;

// 18px
$font-size-small: 0.875rem;

// 14px
$font-size-smaller: 0.8125rem;

// 13px
$font-size-tiny: 0.75rem;

// 12px

// $font-size-largest: 1.75rem; // 28px;
// $font-size-large: 1.25rem; // 20px;
// $font-size-medium: 1rem; // 16px
// $font-size-small: .875rem; // 14px
// $font-size-smaller: .8125rem; // 13px
// $font-size-tiny: .75rem; // 12px

// ***************************************************************
// Content
// ***************************************************************

$content-gutter: 1.25rem;

$box-padding: $content-gutter / 1.5;

// ***************************************************************
// Helper classes
// ***************************************************************

.center {
    text-align: center;
}