// ***************************************************************
// Spacing vars
// ***************************************************************

$spacing: 8px;

$spacing-small: $spacing * 2;
$spacing-medium: $spacing * 4;
$spacing-large: $spacing * 8;