$color-dark-300: #575757;
$color-dark-500: #3a3a3a;
$color-dark-600: #292929;

// *****************************************************************************
// Default Color Palette
// *****************************************************************************
$color-black: #000;
$color-light: #fff;
$color-dark: #333;

$color-gray-300: #F7F7F7;
$color-gray-500: #e2e2e2;

$color-green-300: #00984F;


