// ***************************************************************
// Border-radius vars
// ***************************************************************

$border-radius: 4px;

$border-radius-small: $border-radius*2;
$border-radius-medium: $border-radius*4;
