.featured-posts {
    display: flex;
    flex-direction: column;
}

.featured-post-card {
    background-color: $color-dark-300;
    background-image: url("../images/fallback-vgrblogg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &:before {
        content: '';
        display: block;
        padding-top: 56%;
        background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.5) 100%);

        /* FF3.6-15 */
        background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.5) 100%);

        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.5) 100%);

        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#4d000000", GradientType=0);

        /* IE6-9 */
    }


    &:hover {
        .featured-post-card--title {
            text-decoration: underline;
        }
    }

    &--link-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


    &--entry {
        position: absolute;
        left: 1rem;
        right: 1.5rem;
        bottom: 1rem;

        
    }

    &--title, &--blog-name {
        color: $color-light;
        
    }
    &--blog-name {
        font-weight: 700;
        font-size: .8rem;
        text-transform: none;
        letter-spacing: .03em;
    }
    &--title {
        font-size: 1.45rem;
        margin: 0 0 0.25rem;
    }
    
}

.featured-posts--column-one {
    .featured-post-card--entry {
        h2 {
            font-size: 1.45rem;
            @media screen and (min-width: 55em) {
                font-size: 2rem;
            }
        }
    }
}
@media screen and (min-width: 55em) {
    .featured-posts {
        flex-direction: row;

        &--column-one {
            flex: 2;
        }

        &--column-two {
            flex: 1;
        }
    }

    .featured-post-card {
        &:before {
            padding-top: 80%;
        }
    }
}

@media screen and (min-width: 80em) {
    .featured-post-card {
        &:before {
            padding-top: 45%;
        }
    }
}