@media screen and (min-width: 48em) {
    .twentyseventeen-front-page {
        &.has-header-image,
        &.has-header-video {
            .custom-header-media {
                height: calc(50vh - 10px);
                &:before {
                    height: 100%;
                }
            }
        }
    }

    .home.blog {
        &.has-header-image,
        &.has-header-video {
            .custom-header-media {
                height: calc(50vh - 10px);
                &:before {
                    height: 100%;
                }
            }
        }
    }


   .admin-bar {
        &.twentyseventeen-front-page {
            &.has-header-image,
            &.has-header-video {
                .custom-header-media {
                    height: calc(50vh - 10px);
                    &:before {
                        height: 100%;
                    }
                }
            }
        }

        &.home.blog {
            &.has-header-image,
            &.has-header-video {
                .custom-header-media {
                    height: calc(50vh - 10px);
                    &:before {
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 48em) {
    .has-header-image,
    .has-header-video {
        &.twentyseventeen-front-page {
            .custom-header {
                height: 30vh;
            }
        }

        &.home.blog {
            .custom-header {
                height: 30vh;
            }
        }
    }
}